///////////logo///////////

.logo{
    height:3.25rem;
    margin-left:2rem;
}


///////////search//////////
.search{
    // background-color:orangered;
    flex:0 0 40%;
    display:flex;
    justify-content:center;
    align-items:center;
    @media only screen and (max-width:$bp-smallest){
        background-color:var(--color-grey-light-2);
        order:1;
        flex:0 0 100%;
        flex-wrap:wrap;
        align-content:space-around;
    
        
    }
    
    &__input{
        width:90%;
        font-size: inherit;
        color:inherit;
        background-color:var(--color-grey-light-2);
        padding:.7rem 2rem;
        border-radius:100px;
        border-style: none;
        margin-right:-3.5rem;
        transition:all .2s;
        
        
        &:focus{
            outline:none;
            background-color:var(--color-grey-light-3);
            width:100%;
            

        }

        &::-webkit-input-placeholder{
            font-weight: 100;
            color:var(--color-grey-light-4);
        }

        
    }


    &__input:focus + &__button{
        background-color:var(--color-grey-light-3);
    }

    &__button{
        background-color:var(--color-grey-light-2);
        border:none;

        &:focus{
            outline:none;
        }

        &:active{
            transform:translateY(2px);
        }

    }

    &__icon{
        height:2rem;
        width:2rem;
        fill:var(--color-grey-dark-3);
    }
}


///////////user-nav//////////@extend

.user-nav{
    // background-color:greenyellow;
    display:flex;
    align-self:stretch;
    align-items: center;

    & > *{
        padding:0 2rem;
        height:100%;
        display:flex;
        align-items: center;
        fill:var(--color-grey-dark-2);

    }

    & > *:hover{
        background-color:var(--color-grey-light-2);
    }


    &__icon-box{
        position: relative;
    }

    &__icon{
        height:2.25rem;
        width:2.25rem;
    }

    &__notification{
        position:absolute;
        top:1.5rem;
        right:1.1rem;
        background-color: var(--color-primary);
        border-radius:50%;
        color:#fff;
        height:1.75rem;
        width:1.75rem;
        font-size:.8rem;
        display:flex;
        align-items: center;
        justify-content: center;
    }

    

    &__user-photo{
        height:3.75rem;
        border-radius:50%;
        margin-right:1rem;
    }

    
}



///////////navigation//////////@extend

.side-nav{
    font-size:1.4rem;
    margin-top:3.5rem;
    list-style:none;
    @media only screen and (max-width:56.25em){
        flex-direction: row;
        display: flex;
        margin:0;
    }

    &__icon{
        fill:currentColor;
        height:1.75rem;
        width:1.75rem;
        margin-right:2rem;
        @media only screen and (max-width:$bp-small){
            margin-right: 0;
            margin-bottom:.7rem;
            height:1.5rem;
            width:1.5rem;
        }
    }

    &__item{
        padding:1.5rem 3rem;
        position: relative;
        
        @media only screen and (max-width:$bp-medium){
            flex:1;
            justify-content: center;
            padding:2rem 3rem;
        }
        @media only screen and (max-width:$bp-small){
            
            padding:1.5em .5rem;
        }
        &:not(:last-child){
            margin-bottom:.5rem;
            @media only screen and (max-width:$bp-medium){
                margin:0;
            }
        }

    }

    &__item::before{
        content:"";
        background-color:var(--color-primary);
        position:absolute;
        top:0;
        left:0;
        height:100%;
        width:3px;
        transform:scaleY(0);
        transition:transform .2s,
                    width .4s cubic-bezier(1,0,0,1) .2s;
        
        
    }
    &__item--active::before,
    &__item:hover::before{
        transform:scaleY(1);
        width:100%;
    }

    &__item:active::before{
        background-color:var(--color-primary-light);
    }
    
    &__link:link,
    &__link:visited{
        color:var(--color-grey-light-1);
        text-transform:uppercase;
        text-decoration:none;
        display:flex;
        align-items:center;
        z-index:10;
        position: relative;
        @media only screen and (max-width:$bp-small){
            
            flex-direction: column;
        }

    }

    
}

.legal{
    text-align:center;
    font-size:1.2rem;
    padding:2.5rem;
    color:var(--color-grey-light-4);
    @media only screen and (max-width:56.25em){
        display:none;
    }
}

///////////gallery//////////@extend

.gallery{
    display:flex;

    &__photo{
        width:100%;
        display:block;
    }
}


///////////overview//////////@extend


.overview{
    display: flex;
    align-items:center;
    border-bottom:var(--line);
    background-color:#fff;

    &__heading{
        text-transform:uppercase;
        font-size:2.25rem;
        font-weight:300;
        letter-spacing:1px;
        padding:1.5rem 3rem;

        @media only screen and (max-width:$bp-small){
            padding:1.5rem 2rem;
            font-size:1.8rem;
        }
    }
    &__stars{
        // align-self:center;
        margin-right:auto;
        display:flex;
    }
    &__icon-star,
    &__icon-position{
        fill:var(--color-primary);
        height:1.75rem;
        width:1.75rem;
    }

    &__icon-position{
        margin-right:.5rem;
    }
    
    
    
    &__location{
        display:flex;
        align-items:center;
    }
   

    &__rating{
        background-color:var(--color-primary);
        color:#fff;
        padding:0 2.25rem;
        align-self: stretch;
        margin-left:3rem;

        display: flex;
        flex-direction:column;
        justify-content:center;
        align-items:center;
        @media only screen and (max-width:$bp-small){
            padding:0rem 1.5rem;
        
        }
        &-average{
            font-size:2.25rem;
            margin-bottom:-.3rem;
            @media only screen and (max-width:$bp-small){
                font-size:1.8rem;
            }
        }
        &-count{
            font-size:.8rem;                
            @media only screen and (max-width:$bp-small){
                font-size:.5rem;
            }
        }

    }
    
}

.btn-inline{
    border:none;
    font-size:1.2rem;
    color:var(--color-primary);
    border-bottom:1px solid currentColor;
    background-color:transparent;
    transition:all .2s;
    padding-bottom:2px;
    cursor:pointer;

    & span{
        margin-left:.3rem;
        transition:margin-left .2s;
    }
    &:hover{
        color:var(--color-grey-dark);

        span{
            margin-left:.8rem;
        }
    }
    &:focus{
        outline:none;
        animation:pulsate 1s infinite;
    }
}

@keyframes pulsate{
    0%{
        box-shadow:none;
        transform:scale(1);
    }
    
    50%{
        box-shadow:0 1rem 4rem rgba(0,0,0,.25);
        transform:scale(1.05);
        
    }
    
    100%{
        box-shadow:none;
        transform:scale(1);

    }
}

///////////paragraph//////////@extend

.paragraph:not(:last-of-type){
    margin-bottom:2rem;
}


///////////list//////////@extend
.list{
    list-style:none;
    margin:3rem 0;
    padding:3rem 0;
    border-top:var(--line);
    border-bottom:var(--line);
    display:flex;
    flex-wrap:wrap;
    

    &__item{
        margin-bottom:.7rem;
        flex:0 0 50%;

    }
    &__item::before{
        content:"";
        display:inline-block;
        height:1rem;
        width:1rem;
        margin-right:.7rem;
        background-image:url(../img/chevron-thin-right.svg);
        background-size:cover;
        @supports ((-webkit-mask-image:url()) or (mask-image:url())){
            
            background-color:var(--color-primary);
            -webkit-mask-image:url(../img/chevron-thin-right.svg);
            -webkit-mask-size:cover;
            mask-image:url(../img/chevron-thin-right.svg);
            mask-size:cover;
            background-image:none;
        }


    }
}

///////////recommend//////////@extend
.recommend{
    display:flex;
    align-items:center;
    font-size:1.3rem;

    &__count{
        margin-right:auto;
        color:var(--color-grey-dark-3);

    }
    &__friends{
        display: flex;
    }
    &__photo{
        box-sizing:content-box;
        height:4rem;
        width:4rem;
        border-radius:50%;
        border:.3rem solid #fff;
        &:not(:last-child){
            margin-right:-1.5rem;
        }
    }
}


///////////recommend//////////@extend
.review{

    
    box-shadow: var(--shadow-light);
    background-color: #fff;
    padding:3rem;
    margin-bottom:3rem;
    display:flex;
    flex-direction: column;
    position: relative;
    overflow:hidden;
    @media only screen and (max-width:$bp-medium){
        padding: 2rem;
    }
    &::before{
        content:"\201c";
        font-family:sans-serif;
        font-size:20rem;
        line-height: 1;
        position: absolute;
        top:-2.75rem;
        left:-1rem;
        z-index: 1;
        color:var(--color-grey-light-2);
    }
    

    &__text{
        margin-bottom:2rem;
        position: relative;
        z-index:10;
    }

    &__user{
        display:flex;
        // justify-content: space-between;
        align-items:center;
    }

    &__photo{
        height: 4.5rem;
        width:4.5rem;
        border-radius:50%;
        margin-right:1.5rem;
    }

    &__user-box{
        display:flex;
        flex-direction:column;
        margin-right:auto;
    }

    &__user-name{
        text-transform:uppercase;
        font-size:1.1rem;
        font-weight:600;
        margin-bottom: .4rem;
    }
    &__user-date{
        font-size:1rem;
        color:var(--color-grey-dark-3);

    }
    &__rating{
        color:var(--color-primary);
        font-size:2.2rem;
        font-weight:300;

    }
}
///////////cta//////////@extend
.cta{
    padding:3.5rem 0;
    text-align:center;
    background-color:#fff;
    @media only screen and (max-width:$bp-medium){
        padding: 2.5rem 0;
    }
    &__book-now{
        font-size:2rem;
        margin-bottom:2.5rem;
        font-weight:300;
        text-transform:uppercase;
        
        
    }
    &__btn{
        border-radius:100px;
        border:none;
        font-size:1.5rem;
        overflow:hidden;
        text-transform:uppercase;
        font-weight:300;
        color:#fff;
        
        background-image: linear-gradient(to right,var(--color-primary-light),var(--color-primary-dark));
        position: relative;
        &:focus{
            outline:none;
            animation:pulsate 1s infinite;
        }
        
        
    }
    &__btn >*{
        display:inline-block;
        // height:100%;
        // width:100%;
        transition:all .2s;
    }
    &__btn--visible{
        
        padding:2rem 7.5rem;
    }
    &__btn--invisible{
        padding:2rem 0;
        width:100%;
        height: 100%;
        position:absolute;
        top:-100%;
        left:0;

    }
    &__btn:hover &__btn--visible{
        transform:translateY(100%);
        background-image:linear-gradient(to left,var(--color-primary-light),var(--color-primary-dark));
    }
    &__btn:hover &__btn--invisible{
        top:0;
        left:0;
    }


}