.container{
    background-color:var(--color-grey-light-1);
    min-height:50rem;
    margin:8rem auto;
    max-width:120rem;

    // box-shadow:0 4rem 6rem rgba(black,0.3);
    box-shadow:var(--shadow-dark);
    // color:black;

    @media only screen and (max-width:$bp-largest){
        margin:0;
        max-width:100%;
    }
}
.header{
    font-size: 1.4rem;
    height:7rem;
    border-bottom:var(--line);
    background-color:white;
    display:flex;
    justify-content:space-between;
    align-items:center;
    @media only screen and (max-width:$bp-smallest){
        height: 11rem;
        flex-wrap:wrap;
        
    }

}
.content{
    display:flex;

    @media only screen and (max-width:56.25em){
        flex-direction: column;
    }
}
.side-bar{
    background-color:var(--color-grey-dark-1);
    flex:0 0 18%;
    display: flex;
    justify-content:space-between;
    flex-direction:column;

}
.hotel-view{
    // background-color:orangered;
    flex:1;

    

}
.detail{
    font-size:1.4rem;
    display:flex;
    padding:4.5rem;
    border-bottom:var(--line);
    background-color: var(--color-grey-light-1);

    @media only screen and (max-width:$bp-medium){
        padding: 3rem;
    }
    @media only screen and (max-width:$bp-small){
      flex-direction:column;

    }
}

.description{
    font-size:inherit;
    padding:3rem;
    margin-right:4.5rem;
    flex:0 0 60%;
    background-color:#fff;
    box-shadow:var(--shadow-light);
    @media only screen and (max-width:$bp-medium){
        padding: 2rem;
        margin-right:3rem;

    }
    @media only screen and (max-width:$bp-small){
        margin-right:0;
        margin-bottom:3rem;
  
      }
}

.user-reviews{
    flex:1;
    font-size:inherit;
    display:flex;
    flex-direction:column;
    align-items: center;
}